---
import Layout from '../layouts/Layout.astro';
import AllSubpageHeader from '../layouts/mini-layouts/AllSubpageHeader.astro';
import Card from '../layouts/mini-layouts/Card.astro';
import { blogData } from '../blogData.js';
import { getCollection } from 'astro:content';
// import { formatBlogPosts } from '../utils/sortPosts'
import { Image } from 'astro:assets';
import PostList from '../components/PostList.astro';

// const posts = await Astro.glob('../content/posts/*.md');
const posts = await getCollection('posts');

// const formattedPosts = formatBlogPosts(posts);
---

<Layout title='#Blog'>
  <AllSubpageHeader
    heading='#Blog'
    subtext=''
    text='CoachSameZuo i jego złote myśli'
    image='/blog3-icon.svg'
  />

  <section class='blog-section'>
    <PostList posts={posts}/>
    <!-- {
      posts.map((post, index: number) => (
        <Card>
          <div class='blog-frontmatter-wrapper'>
            <h2>{post.frontmatter.title}</h2>
            <div class='image-wrapper'>
              <img class='image-blog' src={blogData[index].image} alt='blog-image' />
            </div>
            <p>{post.frontmatter.excerpt}</p>
            <div class='blog-author-wrapper'>
              <span class="blog-author">{post.frontmatter.author}</span>
              <span> | </span>
              <span>{new Date(post.frontmatter.date).toLocaleDateString()}</span>
            </div>
            <a class='blog-link' href={`/${post.frontmatter.slug}`}>
              Czytaj dalej
            </a>
          </div>
        </Card>
        <span class="span-line"></span>
        <div class='contact-wrapper'>
    <a class='contact-link' href='mailto:kontakt@maciejmartowicz.pl'>
      <span class="email-span">zuokontakt@coachsamozuo.com</span>
    </a>
    <div class='contact-links'>
      <a class='contact-link' href='tel:+48602649588'>
        tel. <span>602-649-588</span> oraz na </a>
      <a
        class='contact-social-icon'
        href='https://www.linkedin.com/in/coachsamozuo-maciek-aloha-marketing-0739a924a/'
       >
        <i class='fa-brands fa-linkedin-in'></i>
      </a>
    </div>
  </div>
      ))
    } -->
  </section>
</Layout>

<style>
  .blog-section {
    background-color: var(--base-white);
    padding: 25px;
    display: flex;
    flex-direction: column;
  }
  .image-blog {
    border-radius: 7px;
    width: 100%;
  }
  .blog-frontmatter-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .blog-author {
    font-weight: bold;
  }
  h2 {
    font-size: clamp(1.6rem, 3vw, 3rem);
    line-height: 36px;
    letter-spacing: 1px;
  }
  p {
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 23px;
  }
  .blog-author-wrapper {
    opacity: 0.7;
    font-size: 0.9rem;
  }
  .blog-link {
    width: fit-content;
    padding: 15px 25px;
    color: var(--base-white);
    border-radius: 7px;
    background-color: var(--base-orange);
    transition: 0.3s all ease;
  }
  .blog-link:hover {
    color: var(--base-white);
    outline: 1px solid var(--violet);
    background-color: var(--violet);
  }
  .span-line {
    width: 85%;
    border-top: 1px solid var(--violet);
  }
  .contact-wrapper {
    margin-top: 25px;
    margin-left: 0;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .contact-wrapper :is(span) {
    color: var(--base-orange);
    font-size: clamp(0.9rem, 3vw, 4rem);
  }
  .contact-link {
    color: var(--violet);
    font-family: var(--font_3);
    font-size: clamp(0.9rem, 3vw, 4rem);
  }
  .email-span {
    text-decoration: underline;
  }
  .contact-links {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .contact-social-icon {
    position: relative;
    font-size: 1rem;
    padding: 19px;
    border-radius: 7px;
    background-color: var(--base-orange);
    transition: 0.3s background-color ease;
  }
  .contact-social-icon:hover {
    background-color: var(--violet);
  }
  .fa-brands {
    position: absolute;
    padding: 19px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--base-white);
  }
</style>
