---
import Card from './Card.astro';
const postsData = [
  {
    image: 'Tutaj theme image',
    title: 'To jest tytuł dla post nr 1',
    author: 'Maciej Martowicz',
    date: '25-09-2023r.',
    dot: '|',
  },
  {
    image: 'Tutaj theme image2',
    title: 'To jest tytuł dla post nr 2',
    author: 'Maciej Martowicz',
    date: '27-09-2023r.',
    dot: '|',
  },
];
---

<div class='container'>
  {
    postsData.map((post) => (
      <Card
        image={post.image}
        title={post.title}
        author={post.author}
        date={post.date}
        dot={post.dot}
      />
    ))
  }
</div>

<style>
  .container {
    background-color: var(--base-white);
    gap: 3rem;
    display: flex;
    flex-direction: column;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
</style>
